@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root{
  --clr-output-font-family: 'Orbitron', sans-serif;
  --crl-cal-bg: #14213d ;
  --crl-orange: #f9544c;
  --crl-white: #ffffff;
  --crl-black:#000000;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--crl-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1140px;
  margin: 140px auto;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--crl-cal-bg); */
}

.cal-output{
  width: 100%;
  padding: 1rem;
  /* border: 2px solid var(--crl-cal-bg); */
  text-align: end;
  background-color: #1c2042;
  border-radius: 3px;
}

.cal-output span{
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--clr-output-font-family);
  color: var(--crl-white);
}

button {
  width: 100px;
  height: 70px;
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #1c2042;
  color: var(--crl-white);
  border: 2px solid #1c2042;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1c2042;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #1c2042;
  color: var(--crl-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-clear{
color: var(--crl-orange);
}

.operator{
  color: cyan;
}
